<ion-header  >
  <ion-navbar color="dark">
    <button ion-button menuToggle >
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-row>
      <ion-col col-6>
          <ion-title style="height: 40px;">Inicio</ion-title>
      </ion-col>
      <ion-col col-6>
          <ion-datetime style="color: white" displayFormat="DD MMM YYYY" max="2030" min="2018" [(ngModel)]="event.timeEnds"></ion-datetime>
        </ion-col>
    </ion-row>
   
    
  </ion-navbar>



    <ion-segment [(ngModel)]="pet" class="seg">
      <ion-segment-button value="Hoy" style="color: aliceblue" (click)="esHoy()"  >
        Hoy
      </ion-segment-button>
      <ion-segment-button value="Ayer" style="color: aliceblue" (click)="esAyer()">
        Ayer
      </ion-segment-button>
      <ion-segment-button value="Mañana" style="color: aliceblue" (click)="esMan()">
        Mañana
      </ion-segment-button>
    </ion-segment>
  
</ion-header>

<ion-content padding  class="micontent">

    <div [ngSwitch]="pet">
        <ion-list inset *ngSwitchCase="'Hoy'">
          <ion-item *ngFor="let user of users" (click)="irDetalles(user.numero)" >
                <h2>{{user.numero}}</h2>
                <h3>{{user.correo}}</h3>
                <p>Paquete: {{user.meses}} Mes {{user.dispositivos}} Disp  Vence: {{user.vence}}</p>
          </ion-item>
         
        </ion-list>
    
        <ion-list inset *ngSwitchCase="'Ayer'">
            <ion-item *ngFor="let user of users" (click)="irDetalles(user.numero)">
                <h2>{{user.numero}}</h2>
                <h3>{{user.correo}}</h3>
                <p>Paquete: {{user.meses}} Mes {{user.dispositivos}} Disp  Vence: {{user.vence}}</p>
          </ion-item>
          
        </ion-list>

        <ion-list inset *ngSwitchCase="'Mañana'">
            <ion-item *ngFor="let user of users" (click)="irDetalles(user.numero)">
                <h2>{{user.numero}}</h2>
                <h3>{{user.correo}}</h3>
                <p>Paquete: {{user.meses}} Mes {{user.dispositivos}} Disp  Vence: {{user.vence}}</p>
          </ion-item>
            
          </ion-list>

    </div>

  




</ion-content>
